<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API ROL</title>
    <link rel="stylesheet" href="/web.css" />
</head>
<body>
<header>
    <h1>API ROL</h1>
</header>

<main>
    <section id="map-container">
        <div id="map"></div>
    </section>

    <aside id="controls">
        <h2>Controles</h2>
        <div class="btn-group">
            <button data-dir="north">⬆️ North</button>
            <button data-dir="west">⬅️ West</button>
            <button data-dir="south">⬇️ South</button>
            <button data-dir="east">➡️ East</button>
        </div>
        <div class="btn-group">
            <button id="attack-btn">⚔️ Attack</button>
        </div>
    </aside>
</main>
<script src="/web.js"></script>
</body>
</html>